{% extends "base.html" %}
{% block title %}Shipping{% endblock %}

{% block container %}
<div class="row mt-3">
    <div class="col">
        <h2>Flights Info</h2>
        <p>Current flights information from your email</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Reservation number</th>
                    <th scope="col">Flight number</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Seat</th>
                    <th scope="col">Boarding pass</th>
                </tr>
            </thead>
            <tbody>
                {% for row in flights %}
                <tr>
                    <th scope="row">{{ row.id }}</th>
                    <td>{{ row.metadata.properties.underName.properties.name or '' }}</td>
                    <td>
                        {{ row.metadata.properties.reservationNumber or ''}}
                    </td>
                    <td>
                        {{ row.metadata.properties.reservationFor.properties.airline.properties.iataCode or ''}}
                        {{ row.metadata.properties.reservationFor.properties.flightNumber or ''}}
                    </td>
                    <td>
                        {{ row.metadata.properties.reservationFor.properties.departureAirport.properties.iataCode or ''}}
                        {{ row.metadata.properties.reservationFor.properties.departureTerminal or ''}}
                        {{ row.metadata.properties.reservationFor.properties.departureGate or ''}}
                        @ {{ row.metadata.properties.reservationFor.properties.departureTime | datetime }}
                    </td>
                    <td>
                        {{ row.metadata.properties.reservationFor.properties.arrivalAirport.properties.iataCode or '' }}
                        @ {{ row.metadata.properties.reservationFor.properties.arrivalTime | datetime }}
                    </td>
                    <td>
                        {{ row.metadata.properties.airplaneSeat or '' }}
                    </td>
                    <td>
                        {% if row.metadata.properties.ticketToken %}
                            {% set codeSplit = row.metadata.properties.ticketToken.split(':') %}
                            {% if codeSplit | length > 1 %}
                                <img src="http://bwipjs-api.metafloor.com/?bcid={{ codeSplit[0] | lower }}&text={{ codeSplit[1] }}" />
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
