{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block container %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tracking Number</th>
      <th scope="col">Carrier</th>
      <th scope="col">Subject</th>
      <th scope="col">Disabled</th>
    </tr>
  </thead>
  <tbody>
    {% for row in trackers %}
    <tr>
      <th scope="row">{{ row['id'] }}</th>
      <td>{{ row['token'] }}</td>
      <td>{{ row['metadata']['carrier_name'] }}</td>
      <td>{{ row['subject'] }}</td>
      <td>{{ row['disabled'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
